<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DatabaseConnection"
             connectionString="Server=DESKTOP-BDMPPLC\SQLEXPRESS;Database=AcademyExamBd;TrustServerCertificate=true;Trusted_Connection=True;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

</configuration>